.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(0, 213, 255);
    color: white;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 60px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .navbar-logo span {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .login-button1 {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .login-button1:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .user-menu {
    position: relative;
    display: inline-block;
  }
  
  .user-menu span {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    transition: background-color 0.3s;
  }
  
  .user-menu span:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    height: 20px;
  }
  .dash{
    cursor: pointer;
  }
  .dropdown-content button {
    background-color: white;
    color: #007bff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 5px;
  }
  
  .dropdown-content button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .user-menu:hover .dropdown-content {
    display: block;
  }